/*whole change */
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
    color: #40514e;
}

div{
    display: block;
}

h1{
    color: #66bfbf;
    font-family: 'Kranky', serif;
    font-size: 5.65rem;
    margin: 50px auto 0 auto;
    font-weight: bold;
}

h2{
    font-family: 'Amita', serif;    /*inside title */
    color: #66bfbf;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3{
    color: #11999e;
    font-family: 'Montserrat', serif;
}

hr{
    border: dotted rgb(209, 206, 206) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

/*top container modify*/

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

/*top-cloud*/

.top-cloud{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 280px;
    top: 20px;
}

/* bottom cloud */

.bottom-cloud{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 300px;
    top: 400px;
}

/* text title */

.title-text{
    text-align: center;
    margin: 0;
}


/*Middle container */
.middle-container{
    margin: 100px 0;
}


.profile-pic{
   border-radius: 100%;
}

.intro{
    font-family: 'Montserrat', serif;
    width: 30%;
    margin: auto;
    font-size: 18px;
}


/* parent class (Grid) */

.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
    column-gap: 1rem;
}

.parent p{
    font-family: 'Montserrat', serif;
    line-height: 2 ;
}

/* used flex for item */
.parent .game {
    display: flex;
    justify-content: center;
}

/* Get in touch container */    

.contact-msg{
    font-family: 'Montserrat', serif;
    line-height: 2;
    width: 40%;
    margin: 40px auto 60px;
}
.btn{
    color: white;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

.btn:hover{
   background: #11999e;
}

/* bottom/footer container */

.last-container{
    background-color: #66bfbf;
    padding: 50px 0 20px 0;
}

.last-container > .footer-link{
    color:#11999e;
    font-family:'Montserrat', serif ;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
/* mobile */
/* @media only screen and (max-width: 400px){
    .top-container{
        max-width: 400px;
        padding: 25px 0 0 0;
    }

    .top-cloud, .bottom-cloud{
        width: 80px;
        height: 80px;
    }
    .top-cloud{
        top: 10%;
        left: 70%;
    }
    .bottom-cloud{
        top: 70%;
        left: 10%;
    }

    .mountain-img{
        max-width: 300px;
    }

    .parent{
        width: 100%;
    }
} */